resources/odd/LeDIIR.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Lexikografická databáze IIR</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>
                        Copyright 2017
                        <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>
                    Generated by
                    <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <pb:behaviour ident="article" output="web">
                    <pb:param name="id" select="@xml:id" />
                    <pb:template xmlns="" xml:space="preserve">
                        <article class="entry" id="[[id]]">[[content]]</article>
                        <hr style="entry-delim" />
                    </pb:template>
                </pb:behaviour>
                <pb:behaviour ident="entry-polysemy" output="web">
                    <pb:param name="id" />
                    <pb:param name="summary-lemma" />
                    <pb:param name="summary-sense-n" />
                    <pb:param name="summary-sense" />
                    <pb:param name="summary-frequency" />
                    <pb:param name="rest" />
                    <pb:template xmlns="" xml:space="preserve">
                        <article class="entry" id="[[id]]">
                            <details>
                                <summary>
                                    <h4>
                                        <input type="checkbox" />
                                        <span class="tei-lemma">[[summary-lemma]]</span>
                                        <span class="tei-sense-num summary">[[summary-sense-n]]</span>
                                        <span class="tei-sense summary">[[summary-sense]]</span>
                                        [[summary-frequency]]
                                    </h4>
                                </summary>
                                [[rest]]
                                <form class="lediir-comment" action="comment.html">
                                    <input type="hidden" name="id" value="[[id]]" />
                                    <button type="submit">
                                        <iron-icon icon="editor:insert-comment" />
                                    </button>
                                </form>
                            </details>
                        </article>
                    </pb:template>
                </pb:behaviour>
                <pb:behaviour ident="entry" output="web">
                    <pb:param name="id" />
                    <pb:param name="summary-lemma" />
                    <pb:param name="summary-sense" />
                    <pb:param name="summary-frequency" />
                    <pb:param name="rest" />
                    <pb:template xmlns="" xml:space="preserve">
                        <article class="entry" id="[[id]]">
                            <details>
                                <summary>
                                    <h4>
                                        <input type="checkbox" />
                                        <span class="tei-lemma">[[summary-lemma]]</span>
                                        <span class="tei-sense summary">[[summary-sense]]</span>
                                        [[summary-frequency]]
                                    </h4>
                                </summary>
                                [[rest]]
                                <form class="lediir-comment" action="comment.html">
                                    <input type="hidden" name="id" value="[[id]]" />
                                    <button type="submit">
                                        <iron-icon icon="editor:insert-comment" />
                                    </button>
                                </form>
                            </details>
                        </article>
                    </pb:template>
                </pb:behaviour>
                <pb:behaviour ident="sense" output="web">
                    <pb:param name="id" select="@xml:id" />
                    <pb:param name="n" select="@n" />
                    <pb:template xmlns="" xml:space="preserve">
                        <div class="tei-sense" id="[[id]]">
                            <span class="tei-sense-num">[[n]]</span>
                            [[content]]
                        </div>
                    </pb:template>
                </pb:behaviour>
                <pb:behaviour ident="quote" output="web">
                    <pb:param name="lang" select="if(@xml:lang) then @xml:lang else ancestor::*[@xml:lang][1]/@xml:lang" />
                    <pb:template xmlns="" xml:space="preserve">
                        <span class="tei-quote" xml:lang="[[lang]]" lang="[[lang]]">[[content]]</span>
                        <span class="quote-index">☚</span>
                    </pb:template>
                </pb:behaviour>
                <pb:behaviour ident="translation" output="web">
                    <pb:param name="lang" select="if(@xml:lang) then @xml:lang else ancestor::*[@xml:lang][1]/@xml:lang" />
                    <pb:template xmlns="" xml:space="preserve">
                        <span class="translation-index">☛</span>
                        <span class="tei-translation" xml:lang="[[lang]]" lang="[[lang]]">[[content]]</span>
                    </pb:template>
                </pb:behaviour>
                <pb:behaviour ident="details" output="web">
                    <pb:param name="summary" />
                    <pb:template xmlns="" xml:space="preserve">
                        <details>
                            <summary>
                                <h4>[[summary]]</h4>
                            </summary>
                            [[content]]
                        </details>
                    </pb:template>
                </pb:behaviour>
                <pb:behaviour ident="pos" output="web">
                    <pb:param name="id" as="xs:string" />
                    <pb:param name="key-prefix" as="xs:string" />
                    <pb:template xmlns="" xml:space="preserve">
                        <pb-popover theme="translucent">
                            <span slot="default">
                                <pb-i18n key="[[key-prefix]].abbr">[[content]]</pb-i18n>
                            </span>
                            <pb:template slot="alternate">
                                <p>
                                    <pb-i18n key="[[key-prefix]].expand">[[content]]</pb-i18n>
                                </p>
                                <p>
                                    <pb-i18n key="[[key-prefix]].tooltip">[[content]]</pb-i18n>
                                </p>
                            </pb:template>
                        </pb-popover>
                        <span xml:space="preserve" class="space"> </span>
                    </pb:template>
                </pb:behaviour>
                <rendition source="lediir.css" />
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2021-11-24+01:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="LeDIIR" source="teipublisher.odd">
                <elementSpec ident="entry" mode="add">
                    <model predicate="not(@copyOf) and sense[1]/@n" behaviour="entry-polysemy" cssClass="tei-entry">
                        <param name="id" value="@xml:id" />
                        <param name="summary-lemma" value="(* except (sense | usg[@type='frequency'] | xr | etym | entry[@copyOf]))" />
                        <param name="summary-sense-n" value="sense[1]/@n" />
                        <param name="summary-sense" value="sense[1]/(def[1]/preceding-sibling::*, def[1])" />
                        <param name="summary-frequency" value="usg[@type='frequency']" />
                        <param name="rest" value="(etym, sense, xr[not(@type=('_component-lexeme'))], entry[@copyOf])" />
                    </model>
                    <model predicate="not(@copyOf)" behaviour="entry" cssClass="tei-entry">
                        <param name="id" value="@xml:id" />
                        <param name="summary-lemma" value="(* except (sense | usg[@type='frequency'] | xr | etym | entry[@copyOf]))" />
                        <param name="summary-sense" value="sense[1]/(def[1]/preceding-sibling::*, def[1])" />
                        <param name="summary-frequency" value="usg[@type='frequency']" />
                        <param name="rest" value="(etym, sense, xr[not(@type=('_component-lexeme'))], entry[@copyOf])" />
                    </model>
                    <model predicate="@copyOf and id(substring-after(@copyOf, '#'), root($parameters?root))/sense[1]/@n" behaviour="entry-polysemy" cssClass="tei-entry subentry polysemy">
                        <param name="id" value="substring-after(@copyOf, '#')" />
                        <param name="summary-lemma" value="id(substring-after(@copyOf, '#'), root($parameters?root))/(* except (sense | usg[@type='frequency'] | xr | etym | entry[@copyOf]))" />
                        <param name="summary-sense" value="id(substring-after(@copyOf, '#'), root($parameters?root))/sense[1]/(def[1]/preceding-sibling::*, def[1])" />
                        <param name="summary-sense-n" value="id(substring-after(@copyOf, '#'), root($parameters?root))/sense[1]/@n" />
                        <param name="summary-frequency" value="id(substring-after(@copyOf, '#'), root($parameters?root))/usg[@type='frequency']" />
                        <param name="rest" value="id(substring-after(@copyOf, '#'), root($parameters?root))/(etym, sense, xr[not(@type=('_component-lexeme'))], entry[@copyOf])" />
                    </model>
                    <model predicate="@copyOf" behaviour="entry" cssClass="tei-entry subentry">
                        <param name="id" value="substring-after(@copyOf, '#')" />
                        <param name="summary-lemma" value="id(substring-after(@copyOf, '#'), root($parameters?root))/(* except (sense | usg[@type='frequency'] | xr | etym | entry[@copyOf]))" />
                        <param name="summary-sense" value="id(substring-after(@copyOf, '#'), root($parameters?root))/sense[1]/(def[1]/preceding-sibling::*, def[1])" />
                        <param name="summary-frequency" value="id(substring-after(@copyOf, '#'), root($parameters?root))/usg[@type='frequency']" />
                        <param name="rest" value="id(substring-after(@copyOf, '#'), root($parameters?root))/(etym, sense, xr[not(@type=('_component-lexeme'))], entry[@copyOf])" />
                    </model>
                </elementSpec>
                <elementSpec ident="sense" mode="add">
                    <model predicate="@n" behaviour="sense">
                        <param name="id" value="@xml:id" />
                        <param name="n" value="@n" />
                    </model>
                </elementSpec>
                <elementSpec ident="form" mode="add">
                    <model predicate="@type=('variant') and @subtype= ('stem', 'phrase')" behaviour="omit" />
                    <model predicate="@type=('lemma', 'lexical-unit')" behaviour="inline" />
                </elementSpec>
                <elementSpec ident="pron" mode="add">
                    <model behaviour="inline" cssClass="tei-pron" />
                </elementSpec>
                <elementSpec ident="orth" mode="add">
                    <model predicate="@type=('generated') and @subtype = ('space')" behaviour="omit">
                        <desc>Variantní podoba lemmatu s náhražkou za nulovou mezeru, která byla vygenerována</desc>
                    </model>
                    <model predicate="parent::form[@type=('lemma', 'lexical-unit') and form]" behaviour="inline" cssClass="tei-orth">
                        <desc>Výchozí lemma obsahující variantní podobu</desc>
                        <param name="dir" value="if(ancestor::entry/@xml:lang = ('cs', 'en')) then 'ltr' else 'rtl'" />
                        <param name="xml:lang" value="ancestor::entry/@xml:lang" />
                        <param name="lang" value="ancestor::entry/@xml:lang" />
                    </model>
                    <model predicate="parent::form[@type=('lemma', 'lexical-unit')]" behaviour="inline" cssClass="tei-orth">
                        <desc>Výchozí lemma, které neobsahuje variantní podobu</desc>
                        <param name="dir" value="if(ancestor::entry/@xml:lang = ('cs', 'en')) then 'ltr' else 'rtl'" />
                        <param name="xml:lang" value="ancestor::entry/@xml:lang" />
                        <param name="lang" value="ancestor::entry/@xml:lang" />
                    </model>
                    <model predicate="parent::form[@type=('variant')]" behaviour="inline" cssClass="tei-orth tei-variant">
                        <desc>Variantní podoba lemmatu</desc>
                        <param name="dir" value="if(ancestor::entry/@xml:lang = ('cs', 'en')) then 'ltr' else 'rtl'" />
                        <param name="xml:lang" value="ancestor::entry/@xml:lang" />
                        <param name="lang" value="ancestor::entry/@xml:lang" />
                        <outputRendition xml:space="preserve" scope="before">
             if(parent::form/position() = 1) then '' else ' ,'
             </outputRendition>
                    </model>
                    <model predicate="parent::form[not(@type=('lemma', 'lexical-unit'))]" behaviour="omit">
                        <desc>Variantní podoby lemmatu nebo lexikální jendotky</desc>
                    </model>
                </elementSpec>
                <elementSpec ident="etym" mode="add">
                    <model behaviour="omit" />
                </elementSpec>
                <elementSpec ident="usg" mode="add">
                    <model predicate="@type='domain' " behaviour="listItem" />
                    <model predicate="@type=('meaningType', 'textType', 'socioCultural')" behaviour="pos">
                        <param name="id" value="substring-after(@ana, '#')" />
                        <param name="key-prefix" value="concat('dictionary.', @type, '.', .)" />
                    </model>
                    <model predicate="@type='frequency'" behaviour="graphic" cssClass="tei-frequency">
                        <param name="url" value="concat('resources/images/frequency/', @value, '.svg')" />
                        <param name="width" value="'67px'" />
                        <param name="height" value="'42px'" />
                        <param name="title" value="." />
                    </model>
                </elementSpec>
                <elementSpec ident="gramGrp" mode="add">
                    <model behaviour="inline" />
                </elementSpec>
                <elementSpec ident="gram" mode="add">
                    <model predicate="@type='pos' and @xml:lang='en'" behaviour="pos">
                        <param name="id" value="substring-after(@ana, '#')" />
                        <param name="key-prefix" value="concat('dictionary.pos.', .)" />
                    </model>
                    <model behaviour="inline">
                        <param name="data-tei-type" value="'gram'" />
                    </model>
                </elementSpec>
                <elementSpec ident="def" mode="add">
                    <model behaviour="inline">
                        <outputRendition xml:space="preserve" scope="after">
             content: '. '
             </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="cit" mode="change">
                    <model predicate="child::quote and @type='translation'" behaviour="translation">
                        <param name="lang" value="@xml:lang" />
                    </model>
                    <model predicate="child::quote and @type='example'" behaviour="block" cssClass="tei-cit-example" />
                    <model predicate="child::quote and child::bibl" behaviour="cit">
                        <desc>Insert citation </desc>
                    </model>
                </elementSpec>
                <elementSpec ident="quote" mode="change">
                    <model predicate="parent::cit[@type='example']" behaviour="quote" cssClass="tei-quote">
                        <param name="lang" value="@xml:lang" />
                    </model>
                    <model predicate="ancestor::p" behaviour="inline" useSourceRendition="true">
                        <desc>If it is inside a paragraph then it is inline, otherwise it is block level</desc>
                        <outputRendition xml:space="preserve" scope="before">
             content: '‘';
             </outputRendition>
                        <outputRendition xml:space="preserve" scope="after">
             content: '’';
             </outputRendition>
                    </model>
                    <model behaviour="block" useSourceRendition="true">
                        <desc>If it is inside a paragraph then it is inline, otherwise it is block level</desc>
                        <outputRendition xml:space="preserve">
             margin-left: 10px; margin-right: 10px;
             </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model predicate="@type=('entry', 'sense')" behaviour="webcomponent" cssClass="tei-ref-internal">
                        <param name="name" value="'pb-popover'" />
                        <param name="remote" value="concat('api/lex/dictionaries/FACS/entries/', substring-after(@target, '#'))" />
                    </model>
                    <model predicate="not(@target)" behaviour="inline" />
                    <model predicate="starts-with(@target, '#') and contains(@target, '.bibl.')" behaviour="alternate">
                        <param name="default" value="." />
                        <param name="alternate" value="id(substring-after(@target, '#'), root($parameters?root))" />
                    </model>
                    <model predicate="starts-with(@target, '#')" behaviour="link">
                        <param name="uri" value="concat ('?id=', substring-after(@target, '#'))" />
                    </model>
                    <model predicate="not(node())" behaviour="link">
                        <param name="content" value="@target" />
                        <param name="uri" value="@target" />
                    </model>
                    <model behaviour="link">
                        <param name="uri" value="@target" />
                    </model>
                </elementSpec>
                <elementSpec ident="lbl" mode="add">
                    <model predicate="parent::ref[@type='sense'] and @type='sense-number'" behaviour="inline" cssClass="tei-ref-sense-number" />
                    <model predicate="@type = 'variant' and @ana and @xml:lang='en'" behaviour="pos" cssClass="tei-lbl-variant">
                        <param name="id" value="substring-after(@ana, '#')" />
                        <param name="key-prefix" value="concat('dictionary.variantType.', substring-after(@ana, '#LeDIIR.taxonomy.'))" />
                    </model>
                </elementSpec>
                <elementSpec ident="xr" mode="add">
                    <model predicate="@type='related' and @subtype='Reversals'" behaviour="omit" />
                    <model predicate="@type='related' and parent::entry" behaviour="block" cssClass="tei-xr-block" />
                    <model predicate="@type='related' and @subtype" behaviour="inline" />
                </elementSpec>
                <elementSpec ident="idno" mode="add">
                    <model predicate="parent::usg[@type='domain']" behaviour="link">
                        <param name="uri" value="concat('search.html?query=', substring-after(parent::usg[@type='domain']/@ana, 'taxonomy.'), '&amp;amp;ids=', $parameters?ids)" />
                        <param name="target" value="'taxonomy'" />
                    </model>
                    <model predicate="parent::bibl" behaviour="omit">
                        <outputRendition xml:space="preserve" scope="before">
             content: '[';
             </outputRendition>
                        <outputRendition xml:space="preserve" scope="after">
             content: '] ';
             </outputRendition>
                    </model>
                </elementSpec>
                <elementSpec ident="author" mode="change">
                    <model predicate="ancestor::teiHeader and not(following-sibling::author)" behaviour="inline" />
                    <model predicate="ancestor::teiHeader" behaviour="inline">
                        <outputRendition xml:space="preserve" scope="after">
             content: ' – '
             </outputRendition>
                    </model>
                    <model behaviour="inline" />
                </elementSpec>
                <elementSpec ident="licence" mode="change">
                    <model output="web" predicate="@target" behaviour="link" cssClass="licence">
                        <param name="content" value="." />
                        <param name="uri" value="@target" />
                    </model>
                    <model behaviour="omit" />
                </elementSpec>
                <elementSpec ident="su" mode="add" />
            </schemaSpec>
        </body>
    </text>
</TEI>